<div class="bs-docs-section">
  <div class="row">
    <div *ngFor="let new of news | async" class="col-lg-4">
      <div class="bs-component"></div>
      <div class="card mb-3">
        <h3 class="card-header">{{new.category}}</h3>
        <div class="card-body">
          <h5 class="card-title">{{new.title}}</h5>
          <h6 class="card-subtitle text-muted">Код за сигурност: {{new.hashed}}</h6>
        </div>

        <div class="card-body">
          <h3 class="card-header">Рейтинг: {{new.rating}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

