<div class="col-lg-10 col-md-7 col-sm-6">
  <div >
    <form #publishForm="ngForm" (ngSubmit)="create()" >

      <fieldset >
        <legend>Публикувай новина</legend>
        <div class="form-group">
          <label class="col-form-label" for="title">Заглавие</label>
          <input type="text" id="title" class="form-control" [(ngModel)]="bindingModel.title" minlength="5" 
          #title="ngModel" 
          name="title" required>
          <div class="text-danger" [hidden]="title.valid || title.pristine">Моля, въведете валидно заглавие.</div>
        </div>

        <div class="form-group">
          <label for="summary">Текст</label>
          <textarea class="form-control" id="summary" rows="6" #summary="ngModel"
          minlength="10"
          [(ngModel)]="bindingModel.summary" name="summary" required></textarea>
          <div class="text-danger" [hidden]="summary.valid || summary.pristine">Моля, въведете текст.</div>
        </div>


        <div class="form-group">
          <label for="category">Категория</label>
          <select class="form-control" [(ngModel)]="bindingModel.category" id="category" name="category" required>
            <option>Изберете категория</option>
            <option *ngFor="let cat of categories | async">{{cat.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="readOnlyInput">Автор</label>
          <input type="text" id="readOnlyInput" class="form-control" style="color: black;" [(ngModel)]="bindingModel.publisher" name="publisher"
            readonly="">
        </div>

          <div class="form-group">
            <label for="imageUrl">Адрес на снимката</label>
            <input required type="text" id="imagePath" [(ngModel)]="bindingModel.imageUrl" 
            minlength="4" #imageUrl ="ngModel"
            name="imageUrl" class="form-control" required>
            <div class="text-danger" [hidden]="imageUrl.valid || imageUrl.pristine">Моля, въведете валидeн адрес на изображение.</div>
          </div>
          <br>
          <div class="form-group">
        <button class="btn btn-primary" [disabled]="publishForm.form.invalid" type="submit">Публикувай</button>
      </div>
         </fieldset>

    </form>
  </div>
</div>