
<div class="container">
  <div class="bs-component">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="../../assets/logo.jpg" id="logoImg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
          aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02" [ngClass]="{ 'show': navbarOpen }">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active">Начало <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/news/all" routerLinkActive="active">Всички</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/block/all" routerLinkActive="active">Блокчейн</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/news/categories" routerLinkActive="active">Категории</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/signup" *ngIf="!authService.isAuthenticated()" routerLinkActive="active">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/signin" *ngIf="!authService.isAuthenticated()" routerLinkActive="active">Вход</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/news/create" *ngIf="authService.isAuthenticated()" routerLinkActive="active"><strong>Публикувай новина!</strong></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/news/admin" *ngIf="authService.isAdmin()" routerLinkActive="active"><strong>Админ</strong></a>
            </li>

            <li class="nav-item" style="cursor: pointer;">
              <a class="nav-link" (click)="logout()" *ngIf="authService.isAuthenticated()" routerLinkActive="active">Изход</a>
            </li>
          </ul>
          <form (ngSubmit)="search()" class="form-inline my-2 my-lg-0">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" routerLinkActive="active">Търси новина</button>
          </form>
        </div>
      </div>
    </nav>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
  </div>
  
</div>