.lead{
    display: inline;
    margin-right: 40px
}

.move{
    margin-top: 20px
}

.jumbotron{
    max-width: 800px;
}

.check-logo{
    width: 100px;
}

.alert-warning{
    background-color:#2b3d51;
}

.rate{
    margin:0;
    margin-left: 20px;
    height: 40px;
    width:40px;
    padding:0;
    box-sizing: inherit;
    font-size: 20pt
}

.news-header{
    display: inline-block;
}

.rates{
    margin-left: 332px;
}

.rating{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 370px;
    position: absolute;
}

.orange{
    color: #df691a;
}

