<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="login(f)">
          <fieldset>
              <legend>Вход</legend>
        <div class="form-group">
          <label for="email">Имейл адрес</label>
          <input 
          required
          type="email" 
          id="email" 
          name="email"
          ngModel
          class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Парола</label>
          <input
            required
            type="password"
            id="password"
            name="password"
            ngModel
            class="form-control">
        </div>
        <button class="btn btn-primary" [disabled]="f.invalid" type="submit">Влез</button>
      </fieldset>
      </form>
    </div>


    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #fo="ngForm" (ngSubmit)="authService.googleLogin()">
        <fieldset>
              
        <button id="google" [disabled]="fo.invalid" type="submit"><img src="../../../../assets/btn_google_signin_dark_normal_web.png"></button>
        </fieldset>
      </form>
    </div>





  </div>
  
  <img src="../../assets/logo2.jpg" id="logoImg2">
  